@import "./theme/colors";

// adapted from https://codeburst.io/how-to-create-a-simple-css-loading-spinner-make-it-accessible-e5c83c2e464c
@mixin loading-spinner(
  $activeColor: $primary-dark,
  $borderColor: $secondary,
  $selector: "&::after",
  $time: 1s,
  $size: 3rem
) {
  // Animation Keyframes
  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  position: relative;

  // Spinner
  #{$selector} {
    animation: $time linear infinite spinner;
    border: solid 3px #{$borderColor};
    border-bottom-color: #{$activeColor};
    border-radius: 50%;
    content: "";
    height: $size;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: $size;
    will-change: transform;
  }
}
