@import "../../sass/theme/theme";
@import "../../sass/mixins";
@import "../../sass/mediaQueries";

.spinner {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  padding: 2rem;

  &.small {
    @include loading-spinner($size: 1.5rem);
  }

  &.medium {
    @include loading-spinner($size: 3rem);
  }

  &.large {
    @include loading-spinner($size: 4.5rem);
  }
}

.loading-spinner-copy {
  &.small {
    font-size: 0.6rem;

    @media only screen and (max-width: $bp-medium) {
      & {
        width: min-content;
      }
    }
  }

  &.medium {
    font-size: 0.8rem;
  }

  &.large {
    font-size: 1rem;
  }
}
