@import "../../../sass/theme/theme";
@import "../../../sass/mediaQueries";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100vw;
  box-shadow: 0 10px 10rem 1rem $secondary-light;
  background: $neutral;
  position: relative;

  &__logo {
    transform: translateY(-5px);
  }
}

.header--hidden {
  display: none;
  top: -3rem;
}
