@import "../../../sass/theme/theme";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100vw;
  box-shadow: 0 10px 10rem 1rem $secondary-light;
  background: $neutral;

  &__logo {
    font-family: $logo-font;
    font-size: 2rem;
    padding: 0.3rem 1rem;
  }

  &__logo:link,
  &__logo:visited {
    text-decoration: none;
    color: $primary;
  }
}

.header--hidden {
  display: none;
  top: -3rem;
}
