@import "../sass/theme/theme";

* {
  box-sizing: inherit;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  color: $secondary;
}

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: $core-font, "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
}
