// EXAMPLE!!!!
$primary-dark: #f68616;
$primary-dark-light: #ffa851;
$primary-dark-dark: #ba5003;
$primary-dark-transparent: rgba(246, 134, 22, 0.6);

$secondary: #83b0d8;
$secondary-light: #bdd5ea;
$secondary-dark: #011120;
$secondary-transparent: rgba(87, 115, 153, 0.6);

$neutral: #fff8f0;

$on-primary: #000;
$on-primary-light: #a1a1a1;
$on-secondary: #fff;

$cta: #fa4141;
