@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Roboto:300,400,500,700|Roboto+Mono&display=swap");

$logo-font: "Cinzel Decorative", cursive;
$header-font: "Roboto Mono", monospace;
$core-font: "Roboto", sans-serif;
