@import "../../../../../sass/theme/theme";

.header__nav--item {
  font-size: 1rem;

  &:link,
  &:visited {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: $primary-dark;
    letter-spacing: 0.15rem;
    display: inline-block;
    transition: transform 0.2s;
  }

  &:hover {
    background: $primary-dark;
    color: $neutral;
    border-radius: 3px;
    box-shadow: 3px 3px 15px $primary-dark-light;
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(0);
  }
}
